---
// Footer component
---

<footer>
    <h1>Tilmeld dig vores nyhedsbrev!</h1>
    <br>
    <section>
        <input type="email" placeholder="Din email">
        <button>Submit</button>
    </section>
</footer>
