<header>
  <section id="menubar">
    <div class="icon_container">
      <img src="/SWicon.webp" alt="SWicon" class="menu_icon_img" />
    </div>

    <a href="/">SoundWheel</a>
    <a href="/abonnement">Abonnement</a>
    <a href="/virksomhed">Virksomhed</a>
  </section>
</header>