<section class="info_section">
  <section>
    <h2>Mental fitness for dig</h2>
    <p>
    Med SoundWheel får du enkel og effektiv adgang til mental overskud – uanset hvor travl hverdagen er. 
    Vores lydrejser blander musik, visualisering og guidning, så du kan tage en kort, nærende pause og lade tankerne falde til ro. 
    På under 10 minutter kan du skabe ny energi, finde balance og blive klar i sindet — perfekt som daglig mental fitness.
    </p>

    <br />

    <h2>Mental fitness for arbejdspladsen</h2>
    <p>
  SoundWheel gør det let at styrke trivsel og fokus på arbejdspladsen. Med korte, guidede lydrejser kan medarbejdere finde ro, 
genoprette mental klarhed og skabe mere overskud i løbet af dagen. Det giver bedre koncentration, lavere stress og et arbejdsmiljø, 
hvor alle kan præstere og trives — uden at det kræver ekstra tid eller ressourcer.
    </p>

    <br />

    <h2>En ny app – ikke som de andre</h2>
    <p>
SoundWheel er skabt ud fra en enkel idé: mental velvære skal være let, hurtigt og behageligt. I stedet for lange meditationer 
får du korte, effektive lydrejser, der kombinerer musik, visualisering og guidning på en helt ny måde. Det gør appen intuitiv, 
inspirerende og nem at bruge — en anderledes tilgang til mental fitness, der faktisk passer ind i hverdagen.
    </p>
  </section>

  <img
    src="/iPhoneX_Mockup_Ocean_UK.webp"
    alt="mockup iphone"
    class="default_img"
  />

  <img
    src="/iPhoneX_Mockup_UK.webp"
    alt="default_img_mockup"
    class="default_img"
  />
</section>