/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menubar {
  display: flex;
  height: 100px;
  position: static;
  background-color: gray;
  margin-bottom: 15px;
  gap: 30px;

  justify-content: center;
  align-items: center;
}

#menubar a:link,
#menubar a:visited,
#menubar a:active {
  text-decoration: none;
  font-weight: 100;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  color: lightblue;
}

footer {
  display: flex;
  margin-top: 30px;
  width: auto;
  height: 300px;
  background-color: gray;

  justify-content: center;
  align-items: center;

  flex-direction: column;
}

footer input {
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 8px;
  background: #f8f8f8;
  transition: 0.3s;
}

footer button {
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 8px;
  background: #f8f8f8;
}
