/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#menubar {
  display: flex;
  height: 100px;
  position: static;
  background-color: #fff6eb;
  margin-bottom: 15px;
  gap: 30px;

  justify-content: center;
  align-items: center;
}

#menubar a:link,
#menubar a:visited,
#menubar a:active {
  text-decoration: none;
  font-weight: 100;
  font-size: xx-large;
  color: #3b1113;
}

.icon_container {
  height: 100px;
  width: auto;
}

.menu_icon_img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills container */
}
/* FOOTER */
.sw-footer {
  text-align: center;
  padding: 60px 0 30px;
  color: #666;
}

.wave {
  width: 100%;
  height: 120px;
  background: url("image\ 38.png") center/cover no-repeat;
}

footer {
  display: flex;
  margin-top: 10px;
  width: auto;
  height: 200px;
  background-color: #fff6eb;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  color: #3b1113;
  gap: 10px;
}
footer input {
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 8px;
  background: #f8f8f8;
  transition: 0.3s;
}

footer button {
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 8px;
  background: #f8f8f8;
}

.footer_grid {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;

  text-align: center;
}

@media (max-width: 768px) {
  /* Mobil-styles her */
  .icon_container {
    display: none;
  }

  #menubar {
    display: flex;
    height: 75px;
    position: static;
    background-color: #fff6eb;
    margin-bottom: 15px;
    gap: 30px;

    justify-content: center;
    align-items: center;
  }
  #menubar a:link,
  #menubar a:visited,
  #menubar a:active {
    text-decoration: none;
    font-weight: 100;
    font-size: large;
    color: #3b1113;
  }

  footer h1 {
    font-size: medium;
  }
}
