.x {
  display: flex;
  height: 600px;
  background-image: url(background.webp);
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.x a:link,
.x a:visited,
.x a:active {
  color: black;
  text-decoration: none;
}

.flexible_box {
  display: flex;
  border-radius: 50px;
  height: 75px;
  width: 250px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255);
  color: #3b1113;
}

.app_container {
  display: flex;
  height: 50px;
  width: 110px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.app_grid {
  align-items: center;
  width: 250px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 10px;
}

.box_grid_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}
.box_grid_section a {
  color: #3b1113;
  text-decoration: none;
}

.box_grid_section a h1 {
  color: #3b1113;
}
.box {
  display: flex;
  height: 600px;
  width: auto;
  background-color: #fff6eb;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box_text {
  background-color: #fff6eb;
  padding: 10px;
}
.box a:link,
.box a:visited,
.box a:active {
  color: black;
  text-decoration: none;
}

.bg1 {
  background-image: url(womanwithphone.webp);
  background-position: center;
  background-size: cover;
  color: #3b1113;
}
.bg2 {
  background-image: url(manwithphone.webp);
  background-position: center;
  background-size: cover;
}
.bg3 {
  background-image: url(outsidewithphonewoman.webp);
  background-position: center;
  background-size: cover;
}

.info_section {
  background-color: #fff6eb;
  color: #3b1113;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  padding: 50px;
}

.info_section p {
  font-size: 1.2rem;
}

.default_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon_mobile_container {
  display: none;
}

footer {
  color: #3b1113;
  gap: 10px;
}

@media (max-width: 768px) {
  .box {
    height: 200px;
  }
  .box_grid_section {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
  }
  .info_section {
    grid-template-columns: 1fr;
    height: 700px;
  }
  .info_section p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .default_img {
    display: none;
  }
  .icon_mobile_container {
    display: contents;
  }
}
